1) Write a program to accept percentage from the user and display the grade according to the following criteria:


|     Marks           |              Grade |
|---------------------|--------------------|
|  > 90               |                A   |
|                     |                    |
|  > 80 and <= 90     |                B   |
|                     |                    |
|  >= 60 and <= 80    |                C   |
|                     |                    |
|  Below 60           |                D   |

In [4]:
percentage = float(input("What is your percentage"))

if percentage > 90:
    g = "A"
elif percentage >= 80:
    g = 'B'
elif percentage >= 60:
    g = 'C'
else :
    g = 'D'

print('Your Grade is :- ', g)

What is your percentage89
Your Grade is :-  B

2) Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria

| Tax  | Cost Price (in Rs) |
|------|--------------------|
|15%   | >100000            |
|10%   | >50000 and <=100000|
|5%    | <= 50000           |

In [5]:
price = float(input('What is the cost price of car?'))

if price >= 100000:
    tax = price * (15/100)
elif price >= 50000:
    tax = price * (10/100)
else:
    tax = price * (5/100)

print('Your road tax is :- Rs.', tax)

What is the cost price of car?1500000
Your road tax is :- Rs. 225000.0

3) Accept any city from the user and display monuments of the city.

|  City   |  Monuments of the city  |
|---------|-------------------------|
|Delhi|Red fort|
|Agra| Taj Mahal |
|Jaipur | Jal Mahal |

In [6]:
city = input('Enter your city').lower()


if city == 'delhi':
    m = 'Red fort'
elif city == 'agra':
    m = 'Taj Mahal'
elif city == 'jaipur':
    m = 'Jal Mahal'
else:
    m = 'Need to update database'

    
print('Monument of city is :-', m)

Enter your citydelHi
Monument of city is :- Red fort

4) Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [7]:
number = int(input('Enter your number- '))
count = 0

while number > 10:
    number /= 3
    count += 1

print('your no',count)

Enter your number- 46798985323
your no 21

5) Why and when to use While Loop in Python give a detailed description with examples ?

A while loop is used to repeatedly execute a block of code as long as a certain condition is True. It is useful when the number of iterations is unknown and depends on a specific condition being met.

In [8]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

6) Use nested while loop to print 3 different patterns.

In [9]:
n = 5
i = 1
while i <= n:
    j = 1
    while j <= i:
        print('*', end=' ')
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

In [10]:
n = 5
i = 1
while i <= n:
    j = n - i
    while j > 0:
        print(' ', end=' ')
        j -= 1
    j = 1
    while j <= i:
        print(j, end=' ')
        j += 1
    j = i - 1
    while j >= 1:
        print(j, end=' ')
        j -= 1
    print()
    i += 1

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [11]:
n = 5
i = n - (n // 2)
while i <= n:
    j = n - i
    while j > 0:
        print(' ', end=' ')
        j -= 1
    j = i * 2 - n % 2 - (n //2)
    while j >0:
        print('*', end=' ')
        j -=1
    print()
    i +=1

i = n - (n //2) - (n %2) -1

while i >=0:
    j = n - i - (n %2)
    while j >0:
        print(' ', end=' ')
        j -=1
    j = i *2 + (n %2)
    while j >0:
        print('*', end=' ')
        j -=1
    print()
    i -=1

    * * *
  * * * * *
* * * * * * *
      * * *
        *

7) Reverse a while loop to display numbers from 10 to 1.

In [12]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

8) Reverse a while loop to display numbers from 10 to 1.

In [13]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1